.main-cont{
    width: 100%;
}
.projectsContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 75vh;
}

.letter-cover {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 100px 0 50px 0;
}

.projectPhoto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-right: 15px;
    gap: 15px;
}

.projectText {
    width: 25%;
    margin: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.projectText h1 {
    font-size: 55px;
    color: var(--dark);
}

.projectText p {
    line-height: 1.5em;
}

.projectText button {
    width: 150px;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    text-align: left;
}

.projectText button a {
    text-decoration: none;
    color: var(--light);
}


.smallImageCont {
    width: 330px;
    height: 85%;
    border:4px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

}
.smallImg{
    border-radius: 0 0 10px 10px;
    width: 100%;
    height: 94;
    display: flex;
    align-items: flex-start;
}

.smallImg img {
    top: 0;
}

.smallImgUp {
    height: 6%;
    width: 100%;
    border-radius:20px 20px 0 0;
display: flex;
justify-content: space-between;
}
.clock {
    width: 25%;
}

.blackSpace{
    width: 50%;
    height: 40%;
    background-color: black;
    border-radius:0 0 20px 20px ;
}
.clock p {
    font-size: 12px;
    color: black;
    padding: 5px 5px 0 5px;
}

.signal {
    width: 25%;
    display: flex;
    padding: 5px 0;
    display: flex;
    justify-content: space-evenly;
}

.signal img {
width: 10px;
height: 10px;
color: black;
}
.signal p {
    font-size: 10px;
}

.project-description {
    margin-bottom: 20px;
}


/* #pngPhoto{
    width: 200px;
    height:auto;
    z-index: 1;
    position: absolute;
    bottom: -25px;
    left: -75px;
    filter:drop-shadow(5px 5px 8px rgb(34, 34, 34,0.7))
  } */

  @media (max-width: 1200px) {
    .projectsContainer {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .projectText {
        width: 100%;
        padding: 0 20px;
        margin: 20px 0;
    }
    
    .projectPhoto {
        width: 100%;
        padding: 0 20px;
        height: 75vh;
    }
  }

  @media (max-width: 900px) {
    .projectPhoto {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 20px;
        height: 100%;
    }

    .smallImageCont {
        width: 380px;
        max-width: 90%;
        margin-top: 30px;
        margin-inline : auto;
    }
  }

@media (max-width: 900px) {
    .home {
        display: flex;
        flex-direction: column-reverse;
    }

    .homeText {
        margin-top: 10px;
        width: 100%;
    }

    .homeImg {
        width: 100%;
        margin: 5px;
    }



    .dynamicText {
        line-height: 95px;
        overflow: hidden;
        width: 100%;
        height: 100px
    }

    .dynamicText li {
        list-style-type: none;
        font-size: 44px;
        color: var(--secoundary);
        animation: slide 12s steps(2) infinite;
        position: relative;
        top: 0;
    }

    @keyframes typing {
        0% {
            left: 0;
        }

        50% {
            left: 90%;
            margin: 0px -35px 0px 35px;
        }

        100% {
            left: 0;
        }
    }

    

    .clock p {
        font-size: 8px;
    }

    .signal p {
        font-size: 5px;

    }
    .signal img{
        width: 5px;
        height: 5px;
    }
    
}


.explore {
    transition: color .3s ease;
}
.explore:hover{
color: var(--secoundary);
}


.big-screen{
    width: 100%;
    height: 100%;
}

@media (max-width:600px) {
    .smallImageCont {
      height: 550px;
    }
    .projectText h1 {
        font-size: 45px;
    }
    
}