.text-cont {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.about-text {
    width: 30%;
    padding: 30px;
}

.about-text h1 {
    color: var(--secoundary);
    letter-spacing: 1px;
    font-size: 48px;
}

.about-text p {
    margin-top: 15px;
    line-height: 1.4em;
    font-size: 20px;
    color: var(--primary);
}

.about-photo {
    margin-top: 35px;
}
.about-photo img{
    height: 450px;
}


.about-skills {
    width: 450px;
    height: 400px;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.letter span {
    display: inline-block;
    font-size: 30px;
    color: var(--secoundary);
    font-weight: bold;
}

.letter span:hover {
    animation: bounce 1s linear;
}

@keyframes bounce {
    20%,
    50%,
    80%,
    to {
        transform: scale(1, 1);
    }
    40% {
        transform: scale(1.75, 0.65);
    }
    45% {
        transform: scale(1.75, 0.65);
    }
    70% {
        transform: scale(1.25, 0.75);
    }
    90% {
        transform: scale(1.15, 0.85);
    }
}
/* 
.one {
    top: 0;
    left:0  
}

.two {
    top: 25%;
    left:0  ;
}

.three {
    top:50%;
    left:0 ;
}

.four{
    top: 75%;
    left:0  ;
}

.five {
    bottom: 0;
    left:0  }

.six {
    top: 0;
    right: 0;
}

.seven {
    top: 25%;
    right: 0;
}

.eight {
    top: 50%;
    right:0;
}

.nine {
    top: 75%;
    right: 0;
}

.then {
    bottom: 0;
    right: 0;
}
 */
