.text-cont {
    display: flex;
    width: 100%;
    justify-content: center;
}

.about-text {
    width: 55%;
    padding: 30px;
}
.about-text p {
    margin-top: 15px;
    line-height: 1.4em;
    font-size: 20px;
    color: rgb(99, 97, 97);
}

.about--skill-list{
    width: 40%;
    margin-left: 15px;
}
.about--skill-list ul {
    list-style-type: none;
}
.about--skill-list img {
    width: 15px;
}

.text-important{
    color:var(--secoundary);
}

.letter span {
    display: inline-block;
    font-size: 48px;
    color: var(--secoundary);
    font-weight: bold;
}
.space {
    display: inline-block;
    width: 10px;
}

.letter span:hover {
    animation: bounce 1s linear;
}

@keyframes bounce {
    20%,
    50%,
    80%,
    to {
        transform: scale(1, 1);
    }
    40% {
        transform: scale(1.75, 0.65);
    }
    45% {
        transform: scale(1.75, 0.65);
    }
    70% {
        transform: scale(1.25, 0.75);
    }
    90% {
        transform: scale(1.15, 0.85);
    }
}

.side-icons {
    position: fixed;
    left: 0;
    width: 200px;
    height: 90vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-icons img {
    width: 35px;
    margin-top: 30px;
}

.side-icons img:hover {
    width: 36px;
    margin-top: 29px;
}

.side-email {
    position:fixed;
    right: 0;
    width: 200px;
    height: 90vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.side-email a {
    color:var(--secoundary);
    text-decoration: none;
}

.side-email p{
    transform: rotate(90deg);
    letter-spacing: 1.5px;
}

.side-email p:hover {
    font-size: 19px;
    opacity: 0.7;
}


