.text-cont {
    display: flex;
    width: 100%;
    justify-content: center;
}

.about-text {
    width: 30%;
    padding: 30px;
}
.about-text p {
    margin-top: 15px;
    line-height: 1.4em;
    font-size: 20px;
    color: var(--primary);
}

.letter span {
    display: inline-block;
    font-size: 48px;
    color: var(--secoundary);
    font-weight: bold;
}
.space {
    display: inline-block;
    width: 10px;
}

.letter span:hover {
    animation: bounce 1s linear;
}

@keyframes bounce {
    20%,
    50%,
    80%,
    to {
        transform: scale(1, 1);
    }
    40% {
        transform: scale(1.75, 0.65);
    }
    45% {
        transform: scale(1.75, 0.65);
    }
    70% {
        transform: scale(1.25, 0.75);
    }
    90% {
        transform: scale(1.15, 0.85);
    }
}

.side-icons {
    position: fixed;
    left: 0;
    border:solid black 1px;
    width: 200px;
    height: 90vh;
}

.icon {
color: red;
}

.side-email {
    position:fixed;
    right: 0;
    border:solid black 1px;
    width: 200px;
    height: 90vh;
}


